<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TFSBuildQueue.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <TFSBuildQueue.WPF.Properties.Settings>
            <setting name="TfsUrl" serializeAs="String">
                <value>http://tfs:8080/tfs/Collection</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NewBuildNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildCompleteNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationLength" serializeAs="String">
                <value>10000</value>
            </setting>
        </TFSBuildQueue.WPF.Properties.Settings>
    </userSettings>
</configuration>
